<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Common Header Components</title>
    <link th:href="@{/css/common.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <header class="common-header" th:fragment="common-header">
        <h2 class="common__logo">
            <a class="header__logo" href="#" th:href="@{/}">
                <img class="header-logo" th:src="@{/images/sushi-note-logo.svg}">
                <span>Sushi note</span>
            </a>
        </h2>
        <nav class="nav__bar__top">
            <div th:if="${!isLogin}" class="link__toLogin">
                <a class="link__toLoginLink" href="#" th:href="@{/login}">Login</a>
            </div>
            <div th:if="${!isLogin}" class="link__toSignin">
                <a class="link__toSigninLink" href="#" th:href="@{/user/signup}">Sign up</a>
            </div>
            <div th:if="${isLogin}" class="nav__user-icon">
                <a th:href="@{'/m/' + ${loginUserId}}">
                    <img class="nav__user-icon" th:src="@{/images/user.svg}">
                </a>
            </div>
            <div th:if="${isLogin}" class="nav__add__note">
                <a class="add__note" href="#" th:href="@{/drafts/new}">Add note</a>
            </div>
        </nav>
    </header>
</body>
</html>