/* Common Header Area */

a {
    text-decoration: none;
}
body {
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
}

a.header__logo, a.add__note, a.user-link, a.home__toLoginLink, a.home__toSigninLink {
    text-decoration: none;
    color: black;
}

img.header-logo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

header.home-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    border: solid #f2f2f2;
    border-width: 0 0 1px 0;
}

h2.home__logo, div.home__toSignin, div.home__toLogin, div.nav__user-icon, .nav__add__note {
    padding: 16px 32px;
    margin: auto 0;
}

a.header__logo {
    display: flex;
    align-items: center;
}

div.home__toSignin, div.home__toLogin {
    display: flex;
    align-items: center;
}

nav.nav__bar__top {
    display: flex;
    flex-direction: row;
}

div.nav__user-icon {
    cursor: pointer;
}

img.nav__user-icon, div.add-comment-avatar img, div.commenter-avatar img{
    width: 36px;
    height: 36px;
}

/* Common Header Area */


/* Start Main CSS */

main {
    padding-bottom: 50px;
}

article {
    width: 620px;
    margin-right: auto;
    margin-left: auto;
}

figure {
    margin: 0;
}

.article__author {
    display: flex;
}

h1.article__title {
    margin-top: 72px;
}

div.article__body > p {
    font-size: 18px;
    line-height: 36px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.articleHeader__name, .articleHeader__date, div.commenter-text span{
    font-size: 14px;
}

div.articleHeader__avator {
    margin-right: 10px;
}


div.edit-button {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    padding: 5px 10px;
    flex-flow: row-reverse;
}

a.edit-link {
    color: #9c9898;
    margin-left: 5px;
    text-decoration: none;
}

a.edit-link:hover {
    text-decoration: underline;
}

img.edit-icon {
    width: 15px;
    height: 15px;
}


div.separator {
    border-top: 1px #dee0e1 solid;
}

section.comment-section {
    width: 620px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    padding: 16px;
}

div.comment-body > p {
    font-size: 18px;
    line-height: 36px;
    margin-top: 36px;
    margin-bottom: 36px;
}

div.commenter {
    display: flex;
}

div.commenter-text {
    display: flex;
    flex-direction: column;
}

div.commenter-avatar {
    margin-right: 10px;
}

div.comment__content {
    margin-top: 20px;
}

div.comment-body {
    padding-left: 46px;
}

div.add-comment {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type=submit] {
    font-size: 15px;
    margin-left: 5px;
}

input[type=submit][disabled=true] {
    opacity: 0.5;
}

textarea#textBody {
    margin-left: 10px;
    border: 1px solid #dee0e1;
    border-radius: 25px;
    min-width: 400px;
    resize: vertical;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;

}

.btn-mid-large {
    height: 30px;
    border: 1px solid #2e69ff;
    background-color: #2e69ff;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    padding: 5px 15px;
}

div.edit-comment {
    padding-left: 46px;
    margin-bottom: 20px;
}

div.edit-comment a {
    font-size: 14px;
    color: #5e6c84;
    text-decoration: underline;
}

div.login-to-comment {
    margin-bottom: 20px;
}

div.login-to-comment a {
    color: darkblue;
}

div.login-to-comment span {
    color: #8E8E8E;
}