body {
    font-family: Tahoma, Geneva, sans-serif;
}

.container-main {
    display: flex;
    justify-content: center;
}

div.global-header {
    height: 50px;
}

.container-main > div {
    margin: 20px;
}

div.todo-container {
    border: 2px solid #bbb1b1;
}

th {
    text-align: left;
    padding-bottom: 10px;
}

img {
    width: 100%;
    max-width: 100px;
    border-radius:50%;
}


.left-container {
    text-align: center;
}

div.user-container {
     margin: 20px;
}

div.label-container {
    margin: 20px;
}

.label-container {
    border : 1px solid #A9A9A9;
}

.label-container > div {
    margin: 20px;
}

a.label-title {
    text-decoration: none;
    color: black;
}

a.label-title:hover {
    font-size: 15px;
    cursor: pointer;
    transform: scale(1.2);
}

.todo-container > div {
    margin: 20px;
}

.todo-list > table {
    border-collapse: collapse;
    min-width: 400px;
}

.todo-list > table > tbody > tr > td.todo-title {
    border-bottom: 1px solid #A9A9A9;
    border-top: 1px solid #A9A9A9;
    border-left: 1px solid #A9A9A9;
    padding: 10px;
}

a.todo-title {
    text-decoration: none;
    color: black;
}

tr.todo-title:hover {
    background-color: #FAFAD2;
}

a.todo-title:hover {
    font-size: 20px;
    cursor: pointer;
    transform: scale(1.2);
}

.todo-list > table > tbody > tr > td.complete-button {
    border-top: 1px solid #A9A9A9;
    border-bottom: 1px solid #A9A9A9;
    border-right: 1px solid #A9A9A9;
}

td.complete-button {
    text-align: center;
}

input[type=text] {
    width: 100%;
    min-width: 200px;
    height: 25px;
}

.todo-form > form > table {
    margin:auto;
    min-width: 400px;
}

td.add-button {
    text-align: center;
}

div.footer {
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    margin: 20px;
}
td.label-name {
    min-width: 100px;
}

.blue-btn {
    background-color: dodgerblue;
    border: gray 1px;
    border-radius: 5%;
    min-width: 80px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border:none;
}

.blue-btn:hover {
    background-color: royalblue;
}