body {
    font-family: Tahoma, Geneva, sans-serif;
}

.container-main {
    display: flex;
    justify-content: center;
}

div.global-header {
    height: 50px;
}

.container-main > div {
    margin: 20px;
}

th {
    text-align: left;
    padding-bottom: 10px;
}

.user-container {
    display: flex;
    flex-direction: column;
}

img#user-icon {
    width: 100%;
    max-width: 100px;
    border-radius:50%;
    margin: auto;
}

img.delete-btn {
    width: 16px;
}

img.delete-btn:hover {
    width: 18px;
}


.left-container {
    text-align: center;
}

div.user-container {
     margin: 20px;
}

div.label-container {
    margin: 20px;
}

.label-container {
    border : 1px solid #A9A9A9;
}

.label-container > div {
    margin: 20px;
}

a.label-title {
    text-decoration: none;
    color: black;
}

a.label-title:hover {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.2);
}

.todo-container > div {
    margin: 20px;
}

.todo-list > table {
    border-collapse: collapse;
    min-width: 400px;
}

.todo-list > table > tbody > tr > td.todo-title {
    border-bottom: 1px solid #A9A9A9;
    border-top: 1px solid #A9A9A9;
    border-left: 1px solid #A9A9A9;
    padding: 10px;
}

a.todo-title {
    text-decoration: none;
    color: black;
}

tr.todo-title:hover {
    background-color: #FAFAD2;
}

a.todo-title:hover {
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.2);
}

.todo-list > table > tbody > tr > td.complete-button {
    border-top: 1px solid #A9A9A9;
    border-bottom: 1px solid #A9A9A9;
    border-right: 1px solid #A9A9A9;
}

td.complete-button {
    text-align: center;
}

input[type=text] {
    width: 100%;
    min-width: 200px;
    height: 25px;
}

input#complete-btn {
    border-radius: 50%;
    color: white;
    background-color: forestgreen;
    opacity: 0.6;
    cursor: pointer;
}

input#complete-btn:hover {
    opacity: 1;
}

.todo-form > form > table {
    margin:auto;
    min-width: 400px;
}

td.add-button {
    text-align: center;
}

div.footer {
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    margin: 20px;
}
td.label-name {
    min-width: 100px;
}

.blue-btn {
    background-color: dodgerblue;
    border: gray 1px;
    border-radius: 5%;
    min-height: 30px;
    min-width: 80px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border:none;
    opacity: 0.6;
}

.blue-btn:hover {
    opacity: 1;
}

.add-label-btn {
    border-radius: 50%;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    opacity: 0.6;
}

.add-label-btn:hover {
    opacity: 1;
}

input#log-out {
    border: none;
    background-color: white;
    cursor: pointer;
}

input#log-out:hover {
    font-weight: bold;
}

span.error-message {
    color: red;
}