body {
    margin: 0;
}

div.global-header {
    height: 50px;
}

h2 {
    text-align: center;
}

div.container-main {
    margin:auto;
    width:400px;
    border: 1px solid;
}

div.label-container {
    margin:10px;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

div.navigation {
    margin: 50px 10px 10px 20px;
}

input[type="submit"] {
    margin-top : 10px;
    max-width: 200px;
}