body {
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.login__toSigninLink {
    opacity: 0.6;
}

.login__toSigninLink:hover {
    opacity: 1;
}

img.header-logo {
    width: 40px;
    height: 40px;
}

header.login-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    border: solid #f2f2f2;
    border-width: 0 0 1px 0;
}

h2.login__logo, div.login__toSignin {
    padding: 16px 32px;
    margin:0;
}

a.header__logo {
    display: flex;
    align-items: center;
}

div.login__toSignin {
    display: flex;
    align-items: center;
}

div.login__main {
    width: 100%;
}

div.login__form {
    width: 360px;
    padding:24px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    text-align: center;
}

div.login__form > h2 {
    font-size: 16px;
    font-weight: normal;
}

form.login__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

p.login__title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

input[type=text], input[type=password] {
    border: 1px solid #e1e5e7;
    height: 31px;
    padding: 5px 10px;
}

form.login__form > input {
    margin-bottom:10px;
}

input[type=submit] {
    margin: 10px auto auto auto;
}

.btn-large {
    width: 150px;
    height: 35px;
    border: 1px solid #2cb696;
    border-radius: 4px;
    background-color: #2cb696;
    color: white;
    cursor: pointer;
}