/* Common Header Area */
body {
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

img.header-logo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

header.home-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    border: solid #f2f2f2;
    border-width: 0 0 1px 0;
}

h2.home__logo, div.home__toSignin, div.home__toLogin, div.nav__user-icon, .nav__add__note {
    padding: 16px 32px;
    margin: auto 0;
}

a.header__logo {
    display: flex;
    align-items: center;
}

div.home__toSignin, div.home__toLogin {
    display: flex;
    align-items: center;
}

nav.nav__bar__top {
    display: flex;
    flex-direction: row;
}

div.nav__user-icon {
    cursor: pointer;
}

img.nav__user-icon {
    width: 32px;
    height: 32px;
}

/* End Common Header Area */

.article__main {
    margin : 0;
}

.article__form {
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    padding: 24px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-bottom: 20px;
}

p.register__title {
    font-size: 22px;
    font-weight: bold;
}

form.article-form {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    border: 1px solid #e1e5e7;
    height: 25px;
    padding: 5px 10px;
    font-size: 24px;
}

textarea#body {
    border: 1px solid #e1e5e7;
    padding: 5px 10px;
    font-size: 18px;
    min-height: 250px;
    resize: vertical;
}

form > input, textarea, select {
    margin-bottom: 20px;
}

select {
    border: 1px solid #e1e5e7;
    font-size: 18px;
    max-width: 200px;
    padding: 5px;
}

input[type=submit] {
    margin-top: 30px;
    margin-right: auto;
    min-width: 300px;
    margin-left: auto;
}


/* Common compornent*/

.btn-large {
    width: 150px;
    height: 35px;
    border: 1px solid #2cb696;
    background-color: #2cb696;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

/* Common compornent*/
