<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Detail</title>
    <link th:href="@{/css/articleDetail.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="article-detail">
        <header class="home-head">
            <h2 class="home__logo">
                <a class="header__logo" href="#" th:href="@{/}">
                    <img class="header-logo" th:src="@{/images/sushi-note-logo.svg}">
                    <span>Sushi note</span>
                </a>
            </h2>
            <nav class="nav__bar__top">
                <div th:if="${!isLogin}" class="home__toLogin">
                    <a class="home__toLoginLink" href="#" th:href="@{/login}">Login</a>
                </div>
                <div th:if="${!isLogin}" class="home__toSignin">
                    <a class="home__toSigninLink" href="#" th:href="@{/user/signup}">Sign up</a>
                </div>
                <div th:if="${isLogin}" class="nav__user-icon">
                    <a th:href="@{'/m/' + ${loginUserId}}">
                        <img class="nav__user-icon" th:src="@{/images/user.svg}">
                    </a>
                </div>
                <div th:if="${isLogin}" class="nav__add__note">
                    <a class="add__note" href="#" th:href="@{/drafts/new}">Add note</a>
                </div>
            </nav>
        </header>
        <main class="article-main">
            <article>
                <div class="article__content">
                    <figure>
                        <img class="article-header-image" th:src="@{/images/sample-header_1280.jpg}" style="width: 100%;">
                    </figure>
                    <h1 class="article__title" th:text="${article.title}">Why is Japanese Sushi so good?</h1>
                    <div class="article__author">
                        <div class="articleHeader__avator">
                            <img th:src="@{/images/user.svg}" style="width: 36px; height: 36px;">
                        </div>
                        <div class="articleHeader__info">
                            <div class="articleHeader__name" th:text="${authorProfile.displayName}">John Smith</div>
                            <span class="articleHeader__date">
                                <time th:text="${article.updatedDateTime}">Dec 14th 2020</time>
                            </span>
                        </div>
                    </div>
                    <div class="article__body" th:utext="${article.textBody}">
                        <p>I'm a sushi lover from Kuala Lumpur.
                            <br>
                            Especially, Tuna sushi is amazing. I love it! However, I wonder why most of the sushi Restaurant in KL are not nice even though I'm not really restrict for flavor.
                        </p>
                        <p>I'll appreciate if you know better one in Malaysia.<br>
                            Thank you!!</p>
                    </div>
                </div>
            </article>
        </main>
    </div>
</body>
</html>