<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Article Detail</title>
    <link th:href="@{/css/common.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/articleDetail.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="article-detail">
        <header th:replace="fragments/common.html :: common-header (isLogin=${isLogin}, loginUserId=${loginUserId}, imageId=${imageId})"></header>
        <!--        <header class="home-head">-->
<!--            <h2 class="home__logo">-->
<!--                <a class="header__logo" href="#" th:href="@{/}">-->
<!--                    <img class="header-logo" th:src="@{/images/sushi-note-logo.svg}">-->
<!--                    <span>Sushi note</span>-->
<!--                </a>-->
<!--            </h2>-->
<!--            <nav class="nav__bar__top">-->
<!--                <div th:if="${!isLogin}" class="home__toLogin">-->
<!--                    <a class="home__toLoginLink" href="#" th:href="@{/login}">Login</a>-->
<!--                </div>-->
<!--                <div th:if="${!isLogin}" class="home__toSignin">-->
<!--                    <a class="home__toSigninLink" href="#" th:href="@{/user/signup}">Sign up</a>-->
<!--                </div>-->
<!--                <div th:if="${isLogin}" class="nav__user-icon">-->
<!--                    <a class="user-link" th:href="@{'/m/' + ${loginUserId}}">-->
<!--                        <img class="nav__user-icon" th:src="@{/images/user.svg}">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div th:if="${isLogin}" class="nav__add__note">-->
<!--                    <a class="add__note" href="#" th:href="@{/drafts/new}">Add note</a>-->
<!--                </div>-->
<!--            </nav>-->
<!--        </header>-->
        <main class="article-main">
            <article>
                <div class="article__content">
                    <div th:if="${isAdmin}" class="edit-button">
                        <a class="edit-link" href="#" th:href="@{'/article/' + ${article.articleId} + '/edit'}">
                            <img class="edit-icon" th:src="@{/images/pencil.svg}">
                            <span>Edit</span>
                        </a>
                    </div>
                    <figure>
                        <img th:if="${article.imageId}" class="article-header-image" th:src="@{'/api/v1/uploads/images/' + ${article.imageId}}">
                        <img th:unless="${article.imageId}" class="article-header-image" th:src="@{/images/no-photo-available.png}">
                    </figure>
                    <h1 class="article__title" th:text="${article.title}">Why is Japanese Sushi so good?</h1>
                    <div class="article__author">
                        <div class="articleHeader__avatar">
                            <img class="article__avatar" th:src="@{/images/user.svg}">
                        </div>
                        <div class="articleHeader__info">
                            <div class="articleHeader__name" th:text="${authorProfile.displayName}">John Smith</div>
                            <span class="articleHeader__date">
                                <time th:text="${article.updatedDateTime}">Dec 14th 2020</time>
                            </span>
                        </div>
                    </div>
                    <div class="article__body" th:utext="${article.textBody}"></div>
                </div>
                <div class="separator"></div>
            </article>

            <section class="comment-section">
                <div class="comment__wrapper" th:if="${!comments.isEmpty()}" th:each="comment : ${comments}">
                    <div class="comment__content">
                        <div class="commenter">
                            <div class="commenter-avatar">
                                <img class="commenter__avatar" th:src="@{/images/user.svg}">
                            </div>
                            <div class="commenter-text">
                                <span class="commenter-display-name" th:text="${comment.displayName}"></span>
                                <span class="comment_updated-date-time" th:text="${comment.updatedDateTime}"></span>
                            </div>
                        </div>
                        <div class="edit-delete-comment-wrapper">
                            <div class="edit-comment" th:if="${isLogin && (comment.commenterId == loginUserId)}">
                                <a href="#" th:href="@{'/comment/' + ${comment.commentId} + '/edit'}">Edit</a>
                            </div>
                            <div class="delete-comment" th:if="${isLogin && (comment.commenterId == loginUserId)}">
                                <a href="#" class="comment-delete">Delete
                                    <input type="hidden" id="commentId" th:value="${comment.commentId}">
                                </a>
                            </div>
                        </div>
                        <div class="comment-body" th:utext="${comment.textBody}"></div>
                    </div>
                    <div class="separator"></div>
                </div>
                <div class="add-comment" th:if="${isLogin}">
                    <div class="add-comment-avatar">
                        <img th:src="@{/images/user.svg}">
                    </div>
                    <form class="add-comment" role="form" th:action="@{/comment/create}" th:object="${request}" method="post">
                        <textarea id="textBody" rows='1' th:field="*{textBody}" placeholder="Add a comment..."></textarea>
                        <input type="hidden" id="authorId" th:field="*{authorId}">
                        <input type="hidden" id="articleId" th:field="*{articleId}">
                        <input type="hidden" id="userId" th:field="*{userId}">
                        <input type="submit" class="btn-mid-large" value="Add Comment">
                    </form>
                </div>
                <div class="login-to-comment" th:if="${!isLogin}">
                    <span>
                        <a th:href="@{/login}">Log in</a>&nbsp;to like or comment
                    </span>
                </div>
            </section>
        </main>
    </div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            /** Autosize for text area **/
            const textarea = document.querySelector('textarea');
            if (textarea != null) {
                textarea.addEventListener('keydown', autosize);
                function autosize() {
                    let element = this;
                    setTimeout(function(){
                        element.style.cssText = 'height:auto; padding:0';
                        element.style.cssText = 'height:' + element.scrollHeight + 'px';
                    }, 0);
                }
            }

            /** Disable button if textarea is empty **/
            let button = document.querySelector('input[type=submit]');
            if (button != null) {
                button.setAttribute('disabled', true);
                let textareaDOM = document.querySelector('textarea#textBody');
                if (textareaDOM != null) {
                    textareaDOM.addEventListener('keyup', function(){
                        let textInput = textareaDOM.value;
                        if (textInput != '') {
                            button.removeAttribute('disabled');
                        } else {
                            button.setAttribute('disabled', true);
                        }
                    });
                }
            }

            /** Call Comment Delete method **/
            const deleteUrl = "http://localhost:8080/api/v1/comment/";
            const token = document.querySelector('meta[name="_csrf"]').content;
            const header = document.querySelector('meta[name="_csrf_header"]').content;
            let commentDeleteDOMList = document.querySelectorAll('a.comment-delete');
            commentDeleteDOMList.forEach(commentDeleteDOM => {
                commentDeleteDOM.addEventListener('click', function (e) {
                    let commentId = e.target.firstElementChild.defaultValue;
                    let xhr = new XMLHttpRequest();
                    xhr.open("DELETE", deleteUrl + commentId + '/delete', true);
                    xhr.setRequestHeader(header, token);
                    xhr.onreadystatechange = function () {
                        if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
                            console.log('Delete request= Successful');
                            window.location = document.referrer;
                        } else {
                            console.log('Server error');
                        }
                    };
                    xhr.onerror = function () {
                        console.log('something went wrong');
                    };
                    xhr.send();
                });
            });
        });
    </script>
</body>
</html>