<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/documentManager.css}" type="text/css" rel="stylesheet">
    <title>Document Manager</title>
</head>
<body>
    <div class="document-manager__main">
        <div>
            <h1>Document Manager</h1>
        </div>
        <div class="text-success">
            <h3>[[${message}]]</h3>
        </div>
        <div class="document-list">
            <th:block th:each="doc : ${listDocs}">
                <div class="uploaded-file-column">
                    <div class="file-icon">
                        <img class="file-icon" th:src="@{/images/document.svg}">
                    </div>
                    <div class="file-name">
                        [[${doc.originalName}]]
                    </div>
                    <div class="file-size">
                        ([[${#numbers.formatInteger(doc.fileSize, 4, 'COMMA')}]] bytes)
                    </div>
                </div>
            </th:block>
        </div>
        <div class="upload-document">
            <form th:action="@{/api/v1/upload}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" required />
                <input type="hidden" name="userId" th:value="${userId}" />
                <br>
                <input id="upload-btn" type="submit" value="Upload" />
            </form>
        </div>
<!--        <form th:action="@{/upload}" method="post" enctype="multipart/form-data">-->
<!--            <input type="file" name="document" required />-->
<!--            <br>-->
<!--            <input type="submit" value="Upload">-->
<!--        </form>-->
    </div>
<!--    <script>-->
<!--        window.addEventListener('DOMContentLoaded', (event) => {-->
<!--            /** Call Upload API **/-->
<!--            const postUrl = "http://localhost:8080/api/v1/upload";-->
<!--            const token = document.querySelector('meta[name="_csrf"]').content;-->
<!--            const header = document.querySelector('meta[name="_csrf_header"]').content;-->
<!--            const form = document.forms.namedItem("fileInfo");-->
<!--            form.addEventListener('submit', (event) =>{-->
<!--               let requestData = new FormData(form);-->
<!--               let xhr = new XMLHttpRequest();-->
<!--               xhr.open("POST", postUrl, true);-->
<!--               xhr.setRequestHeader(header, token);-->
<!--               xhr.onreadystatechange = function () {-->
<!--                    if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {-->
<!--                        console.log('Post request= Successful');-->
<!--                    } else {-->
<!--                        console.log('Server error');-->
<!--                    }-->
<!--                };-->
<!--                xhr.onerror = function () {-->
<!--                    console.log('something went wrong');-->
<!--                };-->
<!--                xhr.send(requestData);-->
<!--            });-->
<!--        // window.addEventListener('DOMContentLoaded', (event) => {-->
<!--        //     /** Call Comment Delete method **/-->
<!--        //     const postUrl = "http://localhost:8080/api/v1/upload";-->
<!--        //     const token = document.querySelector('meta[name="_csrf"]').content;-->
<!--        //     const header = document.querySelector('meta[name="_csrf_header"]').content;-->
<!--        //     const uploadButtonDOM = document.querySelector('input#upload-btn');-->
<!--        //     const userId = document.querySelector('input#userId');-->
<!--        //     if (uploadButtonDOM != null) {-->
<!--        //         uploadButtonDOM.addEventListener('click', (event) => {-->
<!--        //             let xhr = new XMLHttpRequest();-->
<!--        //             let content = document.querySelector('input#new-file');-->
<!--        //             let docObject = { "document": content, "userId": userId };-->
<!--        //             let docJson = JSON.stringify(docObject);-->
<!--        //             xhr.open("POST", postUrl, true);-->
<!--        //             xhr.setRequestHeader(header, token);-->
<!--        //             xhr.onreadystatechange = function () {-->
<!--        //                 if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {-->
<!--        //                     console.log('Post request= Successful');-->
<!--        //                 } else {-->
<!--        //                     console.log('Server error');-->
<!--        //                 }-->
<!--        //             };-->
<!--        //             xhr.onerror = function () {-->
<!--        //                 console.log('something went wrong');-->
<!--        //             };-->
<!--        //             xhr.send(docJson);-->
<!--        //         });-->
<!--        //     }-->
<!--        });-->
<!--    </script>-->
</body>
</html>