<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
    <link th:href="@{/css/common.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/editComment.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="edit-comment">
    <header th:replace="fragments/common.html :: common-header (isLogin=${isLogin}, loginUserId=${loginUserId})"></header>
    <main class="edit-comment">
        <form class="comment-form" role="form" action="#" th:action="@{/comment/edit}" th:object="${request}" method="post">
                <div class="space-bottom-2">
                    <label for="textBody">comment</label>
                    <textarea id="textBody" th:field="*{textBody}" placeholder="Add a comment..."></textarea>
                    <span class="error-message" th:errors="*{textBody}"></span>
                </div>
                <input type="hidden" id="commentId" th:field="*{commentId}">
                <input type="hidden" id="authorId" th:field="*{authorId}">
                <input type="hidden" id="articleId" th:field="*{articleId}">
                <input class="btn-large" type="submit" value="Update">
            </form>
    </main>
</div>
</body>
</html>