<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos List</title>
    <link href='https://fonts.googleapis.com/css?family=Alike Angular' rel='stylesheet'>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="global-header">

</div>
<div class="container-main">
    <div class="left-container">
        <div class="user-container">
            <img th:src="@{/images/user_logo_640x640.png}">
        </div>
        <div class="label-container">
            <div class="label-list">
            <h3>Labels</h3>
            <table>
                <tr>
                    <td><a th:href="@{'/to-do/list'(label_id=all)}">All Items</a></td>
                    <td></td>
                </tr>
                <tr th:each="label: ${labels}">
                    <td class="label-name"><a th:href="@{'/to-do/list'(label_id=${label.labelId})}"><span th:text="${label.labelName}"></span></a>
                    </td>
                    <td><a th:href="@{'/label/delete'(labelId=${label.labelId})}"><button>Delete</button></a></td>
                </tr>
            </table>
            </div>
            <div class="new-label-button">
                <a th:href="@{'/label/new'}">
                    <button type="button">Create New Label</button>
                </a>
            </div>
        </div>
        <div class="logout">
            <form class="logout" th:action="@{/logout}" method="post">
                <input id="log-out" type="submit" value="Log out">
            </form>
        </div>
    </div>
    <div class="todo-container">
        <div class="todo-form">
            <h3>All Tasks</h3>
            <form role="form" action="#" th:action="@{/to-do/register}" th:object="${todoForm}" method="post">
                <table>
                    <tr>
                        <td><span th:if="${errorMessage}" th:text="${errorMessage}"></span></td>
                    </tr>
                    <tr>
                        <td><input type="text" th:field="*{title}" placeholder="What needs to be done?"></td>
                        <td class="add-button"><input type="submit" value="Add"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="todo-list">
            <table>
                <thead>
                    <tr>
                        <th>Today</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:if="${todos.empty}">
                    <td>No Items Available</td>
                </tr>
                <tr th:each="todo: ${todos}">
                    <td class="todo-title">
                        <a th:href="@{'/to-do/' + ${todo.todoId} + '/edit'}" th:text="${todo.title}"></a>
                    </td>
                    <td class="complete-button">
                        <form role="form" action="#" th:action="@{'/to-do/complete/' + ${todo.todoId}}" method="post">
                        <input type="submit" value="Complete">
                    </form></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>