<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos List</title>
</head>
<body>
<div class="container-main">
    <h2>All tasks</h2>
    <div class="submit-todo">
        <form role="form" action="#" th:action="@{/task/register}" th:object="${todoForm}" method="post">
            <input type="text" th:field="*{title}" placeholder="What needs to be done?">
            <input type="submit" value="Add">
        </form>
    </div>
    <div class="container-todolist">
        <ul>
            <li th:each="todo: ${todos}">
                <a th:href="@{'/task/detail/' + ${todo.todoId}}" th:text="${todo.title}"></a>
            </li>
        </ul>
    </div>
</div>
<div class="container-sub">
    <div class="logout">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log out">
        </form>
    </div>
</div>
</body>
</html>