<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos List</title>

</head>
<body>
<div class="container-main">
    <h2>All tasks</h2>
    <div class="submit-todo">
        <form role="form" action="/register" th:action="@{/register}" th:object="${todoForm}" method="post">
            <input type="text" th:field="*{title}">
            <input type="submit" value="Add">
        </form>
    </div>
    <div class="container-todolist">
        <ul th:each="todo: ${todos}">
            <li>
                <a href="/" th:text="${todo.title}"></a>
            </li>
        </ul>
    </div>
</div>
<div class="container-sub"></div>
</body>
</html>