<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Label - To-do app</title>

</head>
<body>
<div class="container-main">
    <h2>Create new label</h2>
    <form role="form" action="#" th:action="@{/label/register}" th:object="${request}" method="post">
        <table>
            <tr>
                <td>Label Name:</td>
                <td><input type="text" th:field="*{labelName}"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" th:field="*{description}"></td>
            </tr>
            <tr>
                <td><input type="hidden" th:field="*{todoId}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Create"></td>
            </tr>
        </table>
    </form>
</div>
<br>
<br>
<div class="container-sub">
    <button>
        <a th:href="@{/to-do/list}">Go back</a>
    </button>
</div>
</body>
</html>