<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Label - To-do app</title>
    <link th:href="@{/css/labelRegister.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="global-header"></div>
<div class="container-main">
    <div class="label-container">
        <h2>Create Label</h2>
        <form role="form" action="#" th:action="@{/label/register}" th:object="${request}" method="post">
            <span th:errors="*{labelName}"></span>
            <label for="labelName">Name</label>
            <input type="text" id="labelName"th:field="*{labelName}">
            <span th:errors="*{description}"></span>
            <label for="labelDescription">Description</label>
            <input type="text" id="labelDescription" th:field="*{description}">
            <input type="hidden" th:field="*{todoId}">
            <input type="submit" value="Create">
        </form>
    </div>
    <div class="navigation">
        <a th:href="@{/to-do/list}">
            <button>Go back</button>
        </a>
    </div>
</div>
</body>
</html>