<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Label - To-do app</title>

</head>
<body>
<div class="container-main">
    <h2>Create new label</h2>
    <form role="form" action="#" th:action="@{/label/register}" th:object="${request}" method="post">
        Lebel Name:<br>
        <input type="text" th:field="*{labelName}" size="30"><br>
        Description:<br>
        <input type="text" th:field="*{description}" size="50"><br>
        <input type="hidden" th:field="*{todoId}">
        <br>
        <input type="submit" value="Create">
    </form>
</div>
<div class="container-sub">
    <button>
        <a th:href="@{/to-do/list}">Go back</a>
    </button>
</div>
</body>
</html>