<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - To-do app</title>
    <link th:href="@{/css/login.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="container-main">
    <div class="container-logo">
        <img th:src="@{/images/login_icon_logo_640x640.png}">
    </div>
    <div class="main-login">
        <div class="login-form">
            <h1>Login</h1>
            <form th:action="@{/login}"  method="post">
                <input type="text" id="username" name="username" placeholder="User ID">
                <input type="password" id="password" name="password" placeholder="Password">
                <input class="blue-btn" type="submit" id="submit" value="LOGIN">
            </form>
            <p class="sign-up">You haven't sigh up ?  <a class="register-now" th:href="@{/user/sign-up}">Register now</a></p>
        </div>
    </div>

</div>
<div class="container-sub"></div>
</body>
</html>