<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - To-do app</title>
</head>
<body>
<div class="container-main">
    <h2>Login page</h2>
    <form th:action="@{/login}"  method="post">
        <label for="username">User ID:</label>
        <input type="text" id="username" name="username" size="30"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" size="30"><br>
        <input type="submit" id="submit" value="Login">
    </form>
    <p>You haven't sigh up ?  <a th:href="@{/user/sign-up}">Register now</a></p>
</div>
<div class="container-sub"></div>
</body>
</html>