<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link th:href="@{/css/myPage.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="article-detail">
    <header class="home-head">
        <h2 class="home__logo">
            <a class="header__logo" href="#" th:href="@{/}">
                <img class="header-logo" th:src="@{/images/sushi-note-logo.svg}">
                <span>Sushi note</span>
            </a>
        </h2>
        <nav class="nav__bar__top">
            <div th:if="${!isLogin}" class="home__toLogin">
                <a class="home__toLoginLink" href="#" th:href="@{/login}">Login</a>
            </div>
            <div th:if="${!isLogin}" class="home__toSignin">
                <a class="home__toSigninLink" href="#" th:href="@{/user/signup}">Sign up</a>
            </div>
            <div th:if="${isLogin}" class="nav__user-icon">
                <a th:href="@{'/m/' + ${authorProfile.userId}}">
                    <img class="nav__user-icon" th:src="@{/images/user.svg}">
                </a>
            </div>
            <div th:if="${isLogin}" class="nav__add__note">
                <a class="add__note" href="#" th:href="@{/drafts/new}">Add note</a>
            </div>
        </nav>
    </header>
    <main class="my-page">
        <header class="user-profile">
            <div class="profile-image">
                <img class="user-profile-avator" th:src="@{/images/user.svg}">
            </div>
            <div class="user-content">
                <h1 class="display-name" th:text="${authorProfile.displayName}">Sushi Official</h1>
                <div class="user-summary">
                    <p>Hello there! I'm using Sushi note. Please feel free to contact with me</p>
                </div>
            </div>
        </header>
        <section class="my-article">
            <div class="article__content" th:each="post : ${articles}">
                <div class="article-main">
                    <div class="article-text">
                        <h3 class="article-title">
                            <a th:href="@{'/s/' + ${post.userId} + '/' + ${post.articleId}}" class="article-title"
                               th:text="${post.title}">TITLE AREA</a>
                        </h3>
                        <div class="article-summary" th:utext="${post.summary}"></div>
                    </div>
                    <div class="article-image">
                        <img th:if="${post.imageId}" class="article-image" th:src="@{'/api/v1/uploads/images/' + ${post.imageId}}">
                        <img th:unless="${post.imageId}" class="article-image" th:src="@{/images/no-photo-available.png}">
                    </div>
                </div>
                <div class="author-profile">
                    <div class="author-avator">
                        <img class="author-icon" th:src="@{/images/user.svg}">
                    </div>
                    <div class="author-text">
                        <div class="display-name" th:text="${authorProfile.displayName}">Sushi Official</div>
                        <div class="updated-date-time" th:text="${post.updatedDateTime}">Dec 10th, 2020</div>
                    </div>
                </div>
                <div class="article-separator"></div>
            </div>
        </section>
    </main>
</div>
</body>
</html>