<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up - Sushi note</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
<div class="signup">
    <!-- TODO Use common header -->
    <header class="signup-head">
        <h2 class="signup__logo">
            <a class="header__logo" href="#" th:href="@{/}">
                <img class="header-logo" th:src="@{/images/sushi-note-logo.svg}">
                <span>Sushi note</span>
            </a>
        </h2>
        <div class="signup__toLogin">
            <a class="signup__toLoginLink" href="#" th:href="@{/login}">Login</a>
        </div>
    </header>
    <section class="signup__body">
        <div class="signup__introduction">
            <h2 class="signup__title">Welcome to Sushi note !</h2>
            <div class="signup__description">
                <p>The place you can express yourself.</p>
                <p>Share what you to do with others to feel Human Connections</p>
                <p>Feel free to join us and Start new journey !</p>
                <p>Sushi note Team</p>
            </div>
        </div>
        <div class="signup__main">
            <div class="signup__form">
                <div class="register__title-container">
                    <p class="register__title">Register to Sushi note</p>
                </div>
                <form class="signup-form" role="form" action="#" th:action="@{/user/register}" th:object="${request}" method="post">
                    <div class="space-bottom-2">
                        <label for="displayName">Display Name (public name)</label>
                        <input type="text" id="displayName" th:field="*{displayName}" placeholder="Enter your public name">
                        <span class="error-message" th:errors="*{displayName}"></span>
                    </div>
                    <div class="space-bottom-2">
                        <label for="userId">User ID (used for your url)</label>
                        <input type="text" id="userId" th:field="*{userId}"
                               placeholder="Create your user id">
                        <span class="error-message" th:errors="*{userId}"></span>
                    </div>
                    <div class="space-bottom-2">
                        <label for="emailAddress">Email Address</label>
                        <input type="text" id="emailAddress" th:field="*{emailAddress}"
                               placeholder="Enter your email">
                        <span class="error-message" th:errors="*{emailAddress}"></span>
                    </div>
                    <div class="space-bottom-2">
                        <label for="password">Password (at least 8 characters)</label>
                        <input type="password" id="password" th:field="*{password}" placeholder="Create a password">
                        <span class="error-message" th:errors="*{password}"></span>
                    </div>
                    <div class="dummy"></div>
                    <input class="btn-large" type="submit" value="Register">
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>