<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Edit Page</title>
</head>
<body>
<div class="container-main">
    <h2>Task Setting</h2>
        <div class="error-message">
            <p th:if="${hasError}" th:text="${hasError}"></p>
        </div>
        <div class="label-container">
            <div class="related-label-container">
            <table>
                <thead>
                <tr>
                    <th>Label:</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:object="${relatedLabels}"
                        th:each="label : ${relatedLabels}">
                        <td th:text="${label.labelName}"></td>
                        <td>
                            <a th:href="@{'/label/remove'(todoId=${todoLabelRequest.todoId}, labelId=${label.labelId})}">
                                <button>Remove</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <br>
            <div class="add-label-container">
                <h4>Add label:</h4>
                <form class="existing-label" role="form" action="#" th:action="@{'/label/add'}"
                      th:object="${todoLabelRequest}" method="post">
                    <select th:field="*{labelsList}">
                        <option th:each=" label : ${todoLabelRequest.labelsList}"
                                th:value="${label.labelId}" th:text="${label.labelName}"></option>
                    </select>
                    <input type="hidden" th:field="*{todoId}">
                    <button type="submit">Add</button>
                </form>
            </div>
            <br>
            <div class="create-label-container">
                <h4>Create New Label:</h4>
                <form class="new-label" th:object="${todoRequest}">
                    <a th:href="@{/label/new(todoId=${todoRequest.todoId})}">
                        <button type="button">Create New</button>
                    </a>
                </form>
            </div>
        </div>
        <br>
        <br>
        <div class="todo-container">
            <form role="form" action="#" th:action="@{'/to-do/update/' + ${todoRequest.todoId}}" th:object="${todoRequest}" method="post">
                <table>
                    <tr>
                        <td>To-do Title:</td>
                        <td><input type="text" th:field="*{title}"><br />
                    </tr>
                    <tr>
                        <td>DeadLine Date:</td>
                        <td><input type="datetime-local" th:field="*{deadlineDate}"></td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td><input type="text" th:field="*{description}"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Update"></td>
                    </tr>
                </table>
            </form>
            <br>
            <br>
            <a th:href="@{'/to-do/delete/' + ${todoRequest.todoId}}" th:object="${todoRequest}">
                <button>Delete</button>
            </a>
        </div>
</div>
<br>
<br>
<div class="container-sub">
    <button>
        <a th:href="${'/to-do/list'}">Go back</a>
    </button>
</div>
</body>
</html>