<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Edit Page</title>
    <link th:href="@{/css/todoEdit.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container-main">
    <div class="error-message">
        <p th:if="${hasError}" th:text="${hasError}"></p>
    </div>
    <div class="todo-title-container">
        <div class="todo-title-box">
            <h4>TITLE</h4>
            <textarea id="title" form="todo-form"
                      th:object="${todoRequest}"
                      th:field="*{title}"
                      placeholder="What needs to be done ?"></textarea>
        </div>
    </div>
    <div class="label-container">
            <div class="label-box">
                <h4>LABELS</h4>
                <table class="related-label-table">
                    <tbody>
                        <tr th:if="${relatedLabels.size() == 0}">
                            <td>No labels is set</td>
                        </tr>
                        <tr th:object="${relatedLabels}"
                            th:each="label : ${relatedLabels}">
                            <td class="label-name" th:text="${label.labelName}"></td>
                            <td class="label-remove-button">
                                <a th:href="@{'/label/remove'(todoId=${todoLabelRequest.todoId}, labelId=${label.labelId})}">
                                    <button>Remove</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form class="existing-label" role="form" action="#" th:action="@{'/label/add'}"
                                      th:object="${todoLabelRequest}" method="post">
                                    <table>
                                        <tr>
                                            <td>
                                                <select th:field="*{labelsList}">
                                                    <option th:each=" label : ${todoLabelRequest.labelsList}"
                                                            th:value="${label.labelId}" th:text="${label.labelName}"></option>
                                                </select>
                                            </td>
                                            <td><button type="submit">Add</button></td>
                                        </tr>
                                    </table>
                                    <input type="hidden" th:field="*{todoId}">
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td class="create-new-label">
                                <a th:object="${todoRequest}" th:href="@{/label/new(todoId=${todoRequest.todoId})}">
                                    <button type="button">Create New</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    <div class="todo-container">
        <div class="todo-edit-input">
            <form id="todo-form" role="form" action="#" th:action="@{'/to-do/update/' + ${todoRequest.todoId}}" th:object="${todoRequest}" method="post">
<!--                <label for="title">Title</label>-->
<!--                <textarea id="title" th:field="*{title}" placeholder="What needs to be done ?"></textarea>-->
                <label for="deadlineDate">Deadline</label>
                <input type="datetime-local" id="deadlineDate" th:field="*{deadlineDate}">
                <label for="description">Description</label>
                <textarea th:field="*{description}" id="description" placeholder="Add a more detailed description..."></textarea>
                <input type="submit" id="submit" value="Update">
            </form>
        </div>
        <div class="todo-delete-button">
            <a th:href="@{'/to-do/delete/' + ${todoRequest.todoId}}" th:object="${todoRequest}">
                <button>Delete</button>
            </a>
        </div>
        <nav>
            <a th:href="${'/to-do/list'}">
                <button>Go back</button>
            </a>
        </nav>
    </div>
</div>
</body>
</html>