<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Detail</title>
</head>
<body>
<div class="container-main">
    <h2>Task Setting</h2>
        <div class="todo-detail">
            <form role="form" action="#" th:action="@{'/task/update/' + ${request.todoId}}" th:object="${request}" method="post">
                Title:
                <input type="text" th:field="*{title}" size="100"><br /><br />
                <!-- TODO Show Label name once it's implemented -->
                Label:
                <input type="text" th:field="*{labelId}"
                       size="50"><br /><br />
                DeadLine:
                <input type="datetime-local"
                       th:field="*{deadlineDate}"><br /><br />
                Description:
                <input type="text" th:field="*{description}" size="100"><br /><br />
                <input type="submit" value="Update"><br />
            </form>
        </div>
</div>
<div class="container-sub">
    <button>
        <a th:href="${'/'}">Go back</a>
    </button>
</div>
</body>
</html>