<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Detail</title>
</head>
<body>
<div class="container-main">
    <h2>Task Setting</h2>
        <div class="label-container">
            <div class="related-label-container">
            <table>
                <thead>
                <tr>
                    <th>Label:</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:object="${relatedLabels}"
                        th:each="label : ${relatedLabels}">
                        <td th:text="${label.labelName}"></td>
                        <td><button type="submit">Delete</button></td>
                    </tr>
                </tbody>
            </table>
            </div>
            <br>
            <div class="add-label-container">
                <h4>Add label:</h4>
                <form class="existing-label" role="form" action="#" th:action="@{'/label/add'}" th:object="${todoLabelRequest}" method="post">
                    <select th:field="*{labelsList}">
                        <option th:each=" label : ${todoLabelRequest.labelsList}"
                                th:value="${label.labelId}" th:text="${label.labelName}"></option>
                    </select>
                    <input type="hidden" th:field="*{todoId}">
                    <button type="submit">Add</button>
                </form>
            </div>
            <br>
            <div class="create-label-container">
                <h4>Create New Label:</h4>
                <form class="new-label" th:object="${request}">
                    <a th:href="@{/label/new(todoId=${request.todoId})}">
                        <button type="button">Create New</button>
                    </a>
                </form>
            </div>
        </div>
        <br>
        <br>
        <div class="todo-container">
            <form role="form" action="#" th:action="@{'/to-do/update/' + ${request.todoId}}" th:object="${request}" method="post">
                Title:
                <input type="text" th:field="*{title}" size="100"><br /><br />
                DeadLine:
                <input type="datetime-local"
                       th:field="*{deadlineDate}"><br /><br />
                Description:
                <input type="text" th:field="*{description}" size="100"><br /><br />
                <input type="submit" value="Update"><br />
            </form>
            <br>
            <br>
            <a th:href="@{'/to-do/delete/' + ${request.todoId}}" th:object="${request}">
                <button>Delete</button>
            </a>
        </div>
</div>
<br>
<br>
<div class="container-sub">
    <button>
        <a th:href="${'/to-do/list'}">Go back</a>
    </button>
</div>
</body>
</html>